body {
  font-family: "Pretendard", sans-serif;
  background: #f9f9fb;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700;800&display=swap');

html,body,#root { height:100%; margin:0; padding:0; background:#f7fafc; }
* { box-sizing:border-box; }
